<div *ngIf="response != null">Status: {{ response }}</div>
<div class="columns">
  <div class="column is-two-fifths">
    <div class="box mt-5">
      <label class="label">Speed of the objects</label>
      <input
        type="range"
        min="1"
        max="15"
        value="2"
        class="slider"
        id="myRange"
        [(ngModel)]="speed"
      />

      <div class="control pl-3">
        <input class="input" type="number" [(ngModel)]="speed" />
      </div>

      <button class="button is-primary" (click)="applySpeed()">Apply</button>
    </div>

    <div class="box mt-5">
      <label class="label">Height of patiënt</label>
      <input
        type="range"
        min="1"
        max="3"
        value="2"
        step="0.05"
        class="slider"
        id="myRange"
        [(ngModel)]="height"
      />

      <div class="control pl-3">
        <input class="input" type="number" [(ngModel)]="height" />
      </div>

      <button class="button is-primary" (click)="applyHeight()">Apply</button>
    </div>

    <div class="box mt-5">
      <label class="label">Spawn radius of the fish</label>
      <input
        type="range"
        min="0"
        max="10"
        value="2"
        step="0.05"
        class="slider"
        id="myRange"
        [(ngModel)]="SpawnRadius"
      />

      <div class="control pl-3">
        <input
          class="input"
          type="number"
          step="0.05"
          [(ngModel)]="SpawnRadius"
        />
      </div>

      <button class="button is-primary" (click)="applySpawnRadius()">
        Apply
      </button>
    </div>

    <div class="box mt-5">
      <label class="label">Space between circles</label>
      <input
        type="range"
        min="1"
        max="10"
        value="3"
        step="0.05"
        class="slider"
        id="myRange"
        [(ngModel)]="spaceBetweenCircles"
      />

      <div class="control pl-3">
        <input class="input" type="number" [(ngModel)]="spaceBetweenCircles" />
      </div>

      <button class="button is-primary" (click)="applyCircleWidth()">
        Apply
      </button>
    </div>

    <div class="box mt-5">
      <label class="label">Time between rows in seconds</label>
      <input
        type="range"
        min="1"
        max="10"
        value="2"
        class="slider"
        id="myRange"
        [(ngModel)]="InfiniteSpawnWaitTime"
      />

      <div class="control pl-3">
        <input
          class="input"
          type="number"
          [(ngModel)]="InfiniteSpawnWaitTime"
        />
      </div>

      <button class="button is-primary" (click)="applyInfiniteSpawnWaitTime()">
        Apply
      </button>
    </div>

    <div class="box mt-5">
      <label class="label">Length of the level in seconds</label>
      <input
        type="range"
        min="10"
        max="600"
        value="60"
        class="slider"
        id="myRange"
        [(ngModel)]="timeInSeconds"
      />

      <div class="control pl-3">
        <input class="input" type="number" [(ngModel)]="timeInSeconds" />
      </div>

      <button class="button is-primary" (click)="applyAmountOfSeconds()">
        Apply
      </button>
    </div>
    <div class="box mt-5">
      <label class="label"
        ><input
          type="checkbox"
          [(ngModel)]="ducking"
          (click)="checkDucking()"
        />
        Include ducking in the level</label
      >

      <label class="label"
        ><input
          type="checkbox"
          [(ngModel)]="movement"
          (click)="checkMovement()"
        />
        Include movement in the level</label
      >

      <label class="label"
        ><input
          type="checkbox"
          [(ngModel)]="obstacles"
          (click)="checkObstacles()"
        />
        Include obstacles in the level</label
      >
    </div>
  </div>

  <div class="column">
    <div class="box mt-5">
      <h2>Level select</h2>
      <button class="button is-primary mr-4" (click)="changeLevel('level1')">
        Level 1
      </button>
      <button class="button is-primary mr-4" (click)="changeLevel('level2')">
        Level 2
      </button>
      <button class="button is-primary mr-4" (click)="changeLevel('level3')">
        Level 3
      </button>
      <button class="button is-primary mr-4" (click)="changeLevel('mainmenu')">
        Mainmenu
      </button>
      <button class="button is-primary" (click)="changeLevel('quit')">
        Quit
      </button>
    </div>

    <div class="box mt-5">
      <h2>Difficulty presets</h2>
      <button class="button is-primary mr-4" (click)="veryEasy()">
        Very Easy
      </button>
      <button class="button is-primary mr-4" (click)="easy()">Easy</button>
      <button class="button is-primary mr-4" (click)="normal()">Normal</button>
      <button class="button is-primary mr-4" (click)="hard()">Hard</button>
      <button class="button is-primary mr-4" (click)="veryHard()">
        Very Hard
      </button>
    </div>

    <div class="box mt-5">
      <div>
        <label>
          <input
            type="checkbox"
            class="checkbox"
            [(ngModel)]="allowRedFish"
            (click)="checkRedFish()"
          />
          Should red fish appear?
        </label>
      </div>
      <div *ngIf="allowRedFish">
        <label class="label"> How many should the patient catch?</label>
        <input
          type="range"
          min="1"
          max="100"
          value="1"
          class="slider"
          id="myRange"
          [(ngModel)]="redFish"
        />

        <div class="control pl-3">
          <input class="input" type="number" [(ngModel)]="redFish" />
        </div>

        <button class="button is-primary" (click)="applyRedFish()">
          Apply
        </button>
      </div>
    </div>

    <div class="box mt-5">
      <div>
        <label>
          <input
            type="checkbox"
            class="checkbox"
            [(ngModel)]="allowPinkFish"
            (click)="checkPinkFish()"
          />
          Should pink fish appear?
        </label>
      </div>
      <div *ngIf="allowPinkFish">
        <label class="label"> How many should the patient catch?</label>
        <input
          type="range"
          min="1"
          max="100"
          value="1"
          class="slider"
          id="myRange"
          [(ngModel)]="pinkFish"
        />

        <div class="control pl-3">
          <input class="input" type="number" [(ngModel)]="pinkFish" />
        </div>

        <button class="button is-primary" (click)="applyPinkFish()">
          Apply
        </button>
      </div>
    </div>

    <div class="box mt-5">
      <div>
        <label>
          <input
            type="checkbox"
            class="checkbox"
            [(ngModel)]="allowGreenFish"
            (click)="checkGreenFish()"
          />
          Should green fish appear?
        </label>
      </div>
      <div *ngIf="allowGreenFish">
        <label class="label"> How many should the patient catch?</label>
        <input
          type="range"
          min="1"
          max="100"
          value="1"
          class="slider"
          id="myRange"
          [(ngModel)]="greenFish"
        />

        <div class="control pl-3">
          <input class="input" type="number" [(ngModel)]="greenFish" />
        </div>

        <button class="button is-primary" (click)="applyGreenFish()">
          Apply
        </button>
      </div>
    </div>

    <div class="box mt-5">
      <div>
        <label>
          <input
            type="checkbox"
            class="checkbox"
            [(ngModel)]="allowYellowFish"
            (click)="checkYellowFish()"
          />
          Should yellow fish appear?
        </label>
      </div>
      <div *ngIf="allowYellowFish">
        <label class="label"> How many should the patient catch?</label>
        <input
          type="range"
          min="1"
          max="100"
          value="1"
          class="slider"
          id="myRange"
          [(ngModel)]="yellowFish"
        />

        <div class="control pl-3">
          <input class="input" type="number" [(ngModel)]="yellowFish" />
        </div>

        <button class="button is-primary" (click)="applyYellowFish()">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
